[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = "*"
aiosmtpd = "*"
mail-parser = "*"

[requires]
python_version = "3.8"

[dev-packages]
black = "*"

[pipenv]
allow_prereleases = true
